{% extends 'base.html.twig' %}

{% block title %}Connexion à votre compte{% endblock %}

{% block body %}
    <form method="post" class="">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="">
                Vous êtes bien connecté {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% endif %}

        <h1 class="">Connecter vous à votre compte</h1>
        <br>
        <label for="username">Nom de compte (pseudonyme) :</label>
        <input type="text" value="{{ last_username }}" name="_username" id="username" class="" autocomplete="username" required autofocus>
        <br>
        <label for="password">Mot de passe :</label>
        <input type="password" name="_password" id="password" class="" autocomplete="current-password" required>
        <br>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <div class="">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>

        <button id="btn-connect" class="btn" type="submit">
            Se connecter
        </button>
    </form>
{% endblock %}