{% extends 'base.html.twig' %}

{% block title %}Connexion à votre compte{% endblock %}

{% block body %}
    <div class="container mx-auto mt-8">
        <h1 class="text-center text-7xl text-red-700 font-mono m-8"><a href="{{ path('home') }}">Switch-Auto</a></h1>

        <form method="post" class="max-w-md mx-auto bg-white p-6 rounded-md shadow-md text-center">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-4">
                    Vous êtes bien connecté {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" class="text-blue-500 hover:underline">Se déconnecter</a>
                </div>
            {% endif %}

            <h1 class="text-2xl font-semibold mb-4">Connectez-vous à votre compte</h1>

            <div class="mb-4">
                <label for="username" class="block text-left">Nom de compte (pseudonyme) :</label>
                <input type="text" value="{{ last_username }}" name="_username" id="username" class="w-full p-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300" autocomplete="username" required autofocus>
            </div>

            <div class="mb-4">
                <label for="password" class="block text-left">Mot de passe :</label>
                <input type="password" name="_password" id="password" class="w-full p-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="mb-4">
                <label class="inline-block">
                    <input type="checkbox" name="_remember_me" class="mr-2"> Se souvenir de moi
                </label>
            </div>

            <button id="btn-connect" class="bg-red-700 hover:bg-red-500 text-white font-bold py-2 px-4 rounded focus:outline-none" type="submit">
                Se connecter
            </button>
        </form>
    </div>
{% endblock %}
