{{ form_start(form) }}
    {{ form_widget(form) }}

<div class="mb-4">
    {{ form_label(form.brands) }}
    {{ form_widget(form.brands) }}
</div>

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
