{{ form_start(form) }}
    {{ form_widget(form) }}
    <label for="brand">Marque :</label>
    {{ form_widget(form.brand) }}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
