{% extends 'base.html.twig' %}

{% block title %}Votre séléction de véhicule{% endblock %}

{% block body %}
    <header id="main-header-content" class="shadow-md">
        <h1 class="text-center text-7xl text-red-700 font-mono mt-8"><a href="{{ path('home') }}">Switch-Auto</a></h1>

        <div id="routes" class="text-center mt-12 mr-4 ml-4 space-x-16 flex text-3xl">
            <a href="{{ path("app_vehicle_index") }}" class="hover:bg-red-700 bg-opacity-50 hover:text-white rounded-lg p-2 flex-1 mb-8">Acheter un véhicule</a>
            <a href="{{ path("app_vehicle_new") }}" class="hover:bg-red-700 bg-opacity-50 hover:text-white rounded-lg p-2 flex-1 mb-8">Vendre un véhicule</a>
            {% if app.user %}
                {# Utilisateur connecté #}
                <a href="{{ path("app_logout") }}" class="hover:bg-red-700 bg-opacity-50 hover:text-white rounded-lg p-2 flex-1 mb-8">Déconnexion</a>
            {% else %}
                {# Utilisateur non connecté #}
                <a href="{{ path("app_login") }}" class="hover:bg-red-700 bg-opacity-50 hover:text-white rounded-lg p-2 flex-1 mb-8">Connexion</a>
                <a href="{{ path("app_register") }}" class="hover:bg-red-700 bg-opacity-50 hover:text-white rounded-lg p-2 flex-1 mb-8">Inscription</a>
            {% endif %}
        </div>
    </header>

    <div id="vehicle-display" class="text-center flex flex-wrap">
        {% for vehicle in vehicles %}
            <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 mb-4 p-4">
                <div class="rounded bg-gray-100 p-4">
                    <div class="mb-2 w-full"><img src="{{ asset(vehicle.images) }}" alt=""></div>
                    <div class="mb-2">{{ vehicle.name }}</div>
                    <div class="mb-2">{{ vehicle.vehicleCondition }}</div>
                    <div class="mb-2">{{ vehicle.price }}€</div>
                    <div class="mb-2">{{ vehicle.energyTypes.value }}</div>
                    <div class="mb-2">{{ vehicle.localisation }}</div>
                    <div class="mb-2">{{ vehicle.carMileage }}</div>
                    <div class="mb-2">{{ vehicle.year }}</div>
                    <div class="mb-2">{{ vehicle.horsepower }}</div>
                    <div class="mb-2">{{ vehicle.gearboxType.value }}</div>

                    {% if app.user and is_granted('ROLE_ADMIN') %}
                        <button class="hover:bg-red-700 bg-opacity-50 hover:text-white rounded-lg p-2 flex-none">
                            <a href="{{ path('app_vehicle_show', {'id': vehicle.id}) }}">Détails de ce véhicule</a>
                        </button>
                        <button class="hover:bg-red-700 bg-opacity-50 hover:text-white rounded-lg p-2 flex-none">
                            <a href="{{ path('app_vehicle_edit', {'id': vehicle.id}) }}">Modifier ce véhicule</a>
                        </button>
                    {% else %}
                        <button class="hover:bg-red-700 bg-opacity-50 hover:text-white rounded-lg p-2 flex-none">
                            <a href="{{ path('app_vehicle_show', {'id': vehicle.id}) }}">Détails de ce véhicule</a>
                        </button>
                    {% endif %}


                </div>
            </div>
        {% else %}
            <div class="w-full text-center">
                <p>no records found</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
