{% extends 'base.html.twig' %}

{% block title %}Vehicle{% endblock %}

{% block body %}
    <h1>Vehicle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicle.id }}</td>
            </tr>
            <tr>
                <th>Nom du véhicule</th>
                <td>{{ vehicle.name }}</td>
            </tr>
            <tr>
                <th>Description du véhicule</th>
                <td>{{ vehicle.description }}</td>
            </tr>
            <tr>
                <th>Condition</th>
                <td>{{ vehicle.vehicleCondition }}</td>
            </tr>
            <tr>
                <th>Modèle</th>
                <td>{{ vehicle.model }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ vehicle.price }} €</td>
            </tr>
            <tr>
                <th>Énergie du véhicule</th>
                <td>{{ vehicle.energyType.value }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ vehicle.localisation }}</td>
            </tr>
            <tr>
                <th>CarMileage</th>
                <td>{{ vehicle.carMileage }}</td>
            </tr>
            <tr>
                <th>Finishes</th>
                <td>{{ vehicle.finishes }}</td>
            </tr>
            <tr>
                <th>Length</th>
                <td>{{ vehicle.length }}</td>
            </tr>
            <tr>
                <th>Width</th>
                <td>{{ vehicle.width }}</td>
            </tr>
            <tr>
                <th>TireSpec</th>
                <td>{{ vehicle.tireSpec }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ vehicle.year }}</td>
            </tr>
            <tr>
                <th>NumberOfSeats</th>
                <td>{{ vehicle.numberOfSeats }}</td>
            </tr>
            <tr>
                <th>NumberOfDoors</th>
                <td>{{ vehicle.numberOfDoors }}</td>
            </tr>
            <tr>
                <th>Horsepower</th>
                <td>{{ vehicle.horsepower }}</td>
            </tr>
            <tr>
                <th>FiscalHorsePower</th>
                <td>{{ vehicle.fiscalHorsePower }}</td>
            </tr>
            <tr>
                <th>Co2Emissions</th>
                <td>{{ vehicle.co2Emissions }}</td>
            </tr>
            <tr>
                <th>EnergyConsumption</th>
                <td>{{ vehicle.energyConsumption }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ vehicle.color.value }}</td>
            </tr>
            <tr>
                <th>TypeOfVehicle</th>
                <td>{{ vehicle.typeOfVehicle.value }}</td>
            </tr>
            <tr>
                <th>GearboxType</th>
                <td>{{ vehicle.gearboxType.value }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vehicle_index') }}">back to list</a>

    <a href="{{ path('app_vehicle_edit', {'id': vehicle.id}) }}">edit</a>

    {{ include('vehicle/_delete_form.html.twig') }}
{% endblock %}
